.container
	h2 {{product.name}}
	table.table.table-bordered
		tr.success
			th ID
			th Name
			th Price
			th Stock
			th
		tr
			td {{product._id}}
			td {{product.name}}
			td {{product.price}}
			td {{product.stock}}
			td
				button.btn.btn-primary(ng-click='purchase(product._id, product.stock)')
					|Purchase





