.container
	.btn-group
		a.btn.btn-default(ui-sref="app.houses")
			|Houses

.container
	h2 Products
	table.table.table-bordered
		tr.info
			th ID
			th Name
			th Price
			th Stock
			th
		tr(ng-repeat="product in products track by product._id")
			td {{product._id}}
			td {{product.name}}
			td {{product.price}}
			td {{product.stock}}
			td
				button.btn.btn-primary(ng-click="$state.go('app.product', {id:product._id})")
					|View




