.container
	h2 {{house.client}}
	table.table.table-bordered
		tr.success
			th ID
			th Client
			th Products
		tr
			td {{house._id}}
			td(editable-text="house.client" onaftersave="proxy.house.update(house)") {{house.client}}
			td
				table.table.table-bordered
					tr.info
						th Name
						th Price
						th Stock
					tr(ng-repeat="product in house.products track by product._id")
						td(editable-text="product.name" onaftersave="proxy.product.update(product)") {{product.name}}
						td(editable-text="product.price" onaftersave="proxy.product.update(product)") {{product.price}}
						td(editable-text="product.stock" onaftersave="proxy.product.update(product)") {{product.stock}}





